body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    padding: 0 64px;
}

.quote {
    background-color: #e5e7eb;
}

button,
.action {
    background-color: #3882f6;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    width: 50%;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    width: 50%;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.logo {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: auto;
    background-color: #1f2937;
}

.front {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
}

.placeholder {
    width: 600px;
    height: 300px;
}