* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    padding: 0px 64px;
    height: 40%;
}

.quote {
    background-color: #e5e7eb;
    height: 40%;
}

button,
.action {
    background-color: #3882f6;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    width: 50%;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    width: 50%;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.logo {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: auto;
    background-color: #1f2937;
}

.hero {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 24px;
    border: none;
    color: white;
    border-radius: 4px;
}

.placeholder {
    display: flex;
    color: white;
    background-color: grey;
    width: 600px;
    height: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.front {
    display: flex;
}

.image {
    border: solid #3882f6;
    height: 128px;
    width: 128px;
    border-radius: 8px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 128px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.sub {
    text-align: justify;
    text-align-last: center;
}

.action {
    display: block;
    margin: 5vh;
    width: 60%;
}